<h2>Welcome back!</h2>
<h2>Temperature is: {{temp}}</h2>
<h2>Date: {{date}}</h2>
<h3>sign out {{email}}</h3>
<div class="graph">
  <h2>Weather Graph</h2>
  <img src="https://s-media-cache-ak0.pinimg.com/originals/d7/ef/f3/d7eff31b78702a0d91eb51be3af3760b.png" alt="" />
</div>
