body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
	color: yellow;
	font-weight: bold;
}

.container {
	width: 1450px;
  background-image: url("http://weknowyourdreams.com/images/cloud/cloud-06.jpg");
}

.header-bg {
	background-image: url("http://cdn.pcwallart.com/images/green-background-design-wallpaper-1.jpg");
}


.input-group{
	margin-top: 20px;
	display: block;
}

.panel-default .panel-heading{
	background: rgba(112, 183, 55, 1)
}

.panel-body{
	background: rgba(112, 183, 55, .5)
}

.panel-title{
	color: white;
}

.well{
	background-color: white;
}

#chartdiv {
	width       : 100%;
	height      : 500px;
	font-size   : 11px;
}